# App
DATABASE_URL='postgresql://myuser:mypassword@localhost:5432/mydb'
JWT_SECRET=
JWT_ALGORITHM=
JWT_EXPIRATION=

# Docker
COMPOSE_PROJECT_NAME=todo-app-backend
APP_HOST_PORT=8000
POSTGRES_USER=my-user
POSTGRES_PASSWORD=123456
POSTGRES_DB=my_db
POSTGRES_HOST_PORT=5432
